.myClass {
  line-height: 50px;
  text-align: left;
  font-family: "Arial";
  padding: 0 15px;
  color: white;
  font-size: 3vw;
}
@media (min-width: 1200px) {
  .myClass {
    line-height: 50px;
    text-align: left;
    font-family: "Arial";
    padding: 0 15px;
    color: white;
    font-size: x-large
  }
}
